:root {
   --fontFamily: "Ubuntu";
   --fontSize: 16px;
   --main-weight: 400;
   --c-main: #212353;
   --c-second: #4b5d68;
   --c-third: #fff;
   --c-light: #9c69e2;
   --bg-main: #fff;
   --main-border-radius: 50px;
}
